<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


    {% load static %}

    <link rel="stylesheet" href="{% static 'skooltech/index.css' %}">

</head>
<body>

    

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Skool Tech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Atividades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Conteúdos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fuxicos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mais Opções
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Empre</a></li>
            <li><a class="dropdown-item" href="#">Projetos</a></li>
            <li><a class="dropdown-item" href="#">E mais coisas né</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        Link with href
      </a>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Button with data-bs-target
      </button>
      
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Serginho</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
          </div>
          <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">lalala</a></li>
              <li><a class="dropdown-item" href="#">okokok</a></li>
              <li><a class="dropdown-item" href="#">acontece né</a></li>
            </ul>
          </div>
        </div>
      </div>

    {% if Students %} 
        <ul>
            {% for student in Students %}           
                <li>{{ student.name }}</li>
                <li>{{ student.age }}</li>
                <li>{{ student.dream }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available</p>
    {% endif %}  
</body>
</html>
                   
